.proyects{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    
    display: flex;
    width: 100%;
    flex-direction: column;
}
.img_proyect{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.img_proyect_cel{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.proyect{
    height: 12em;
    width: 29%;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}
.fieldset_proyects{
    width: 74em;
    overflow: hidden;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}
.container_proyects{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title_proyect{
    text-align: center;

}
.lista_proyectos{
    
    display: flex;
    gap: 61px;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-bottom: 4em;
}
.proyect-title{
    width: 100%;
    display: flex;
    padding: 0 0 25px 30px;
    gap: 80px;
    font-family: var(--body-font);
}
.design{
    border-radius: 15px;
    border: 1px solid lightseagreen;
    color: lightseagreen;
    padding: 5px 28px;
    cursor: pointer;
}
.design_select{
    background-color: lightseagreen;
    color: white;
}
.container_select_proyect{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 27px;
    border-top: 1px solid #ddd;
}
.img_select{
    width: 97%;
    height: 97%;
    border: 1px solid #ddd;
    border-radius: 15px;
}


.select_proyect{
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    
}
.lista_select_proyect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    cursor: pointer;
}
.lista_img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.div_visit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 21px;
}

.visit{
    font-family: var(--body-font);
    color: white;
    background-color: lightseagreen;
    padding: 0 25px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.hidden{
    display: none;
}
.select{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 15px;
}
.proyect_responsive{
    height: 21em;
    width: 21%;
}
.title_project{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    text-align: center;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: opacity 0.3s;
}

.overlay_image {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
.overlay_cel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}
.overlay_image_cel {
    width: 34%;
    height: 90%;
  }

